:root {
	--color-primary: #eef;
	--color-secondary: #aaeeff;
	--color-accent: #f0ff31;
	--color-background: #222240;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-primary: #222240;
		--color-secondary: #55aadd;
		--color-accent: #f0ff31;
		--color-background: #eef;
	}
}



@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #eef;
		--color-secondary: #aef;
		--color-accent: #f0ff31;
		--color-background: #222240;
	}
}

html {
	height: 100vh;
	width: 100vw;
	color: var(--color-primary);
	background-color: var(--color-background);

	font-family: "JetBrains Mono Nerd Font";
}

html,
body {
	margin: 0;
	padding: 0;

	font-size: 20pt;
}

body {
	margin: 0 auto;
	width: max(80%, 600px);
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--color-secondary);
	text-decoration-line: underline;
	text-decoration-color: var(--color-primary);
	text-decoration-thickness: 0.15rem;
}

h1 {
	color: var(--color-accent)
}
